:root {
    --light-gray: #dddddd;
    --white: #ffffff;
    --dark-gray: rgb(118, 118, 118);
    --defualt-borer-radius: 5px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

input:not([type="checkbox"]),
select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--dark-gray);
    border-radius: var(--defualt-borer-radius);
}

input,
select {
    height: 100%;
}

select {
    background-color: var(--white);
}

select:disabled {
    opacity: 1;
}

input:read-only {
    border: 1px solid var(--dark-gray);
    outline: none;
    color: var(--dark-gray);
    border-radius: var(--defualt-borer-radius);
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.title1 {
    font-weight: 500;
}

.sub-text {
    color: var(--light-gray);
    font-size: 0.7rem;
}

.menu-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 10px 15px;
}

.label {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 10px;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 1rem;
}

.requried {
    .label {
        color: red;
    }
    input {
        border: 1px solid red;
        background: #ffffff;
        border-radius: var(--defualt-borer-radius);
    }
    input:focus {
        outline: 1px solid red;
    }
}

.input_box {
    display: flex;
    align-items: center;

    position: relative;

    height: 50px;
    overflow: hidden;

    padding: 5px 3px;
}
